@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}
.text-primary {
  color: #fb17ce;
}
.text-secondary {
  color: #210d94;
}
.btn {
  border-radius: 3.125rem 3.125rem 0rem 3.125rem;
  /* background: #fb17ce; */
  box-shadow: 0px 20px 30px 0px rgba(34, 34, 34, 0.07);
  /* padding: 10px 1.10063rem; */
}
.white-btn {
  border-radius: 3.125rem 3.125rem 0rem 3.125rem;
  /* background: #fff; */
  box-shadow: 0px 20px 30px 0px rgba(33, 33, 33, 0.07);
  /* color: black; */
  /* padding: 10px 1.10063rem; */
}
.border-2 {
  border-radius: 50px;
  border-top-left-radius: 0;
  background: #fff;
}
